@media (max-width: 800px) {
  .search input {
    padding: 6px 18px;
    height: 45px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    flex: 1px;
    font-size: 18px;
  }

  .search button {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 48px;
    height: 48px;
  }

  .col img {
    width: 30px;
    margin-right: 5px;
  }

  .humidity,
  .wind {
    font-size: 17px;
    margin-top: -6px;
  }
}
